.wrapper {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        background-color: #22222f;
        position: sticky;
        right: 0;
        left: 0;
        top: 0;
        z-index: 999;

        .list-options {
            display: flex;
            align-items: center;

            .item-option {
                display: flex;
                align-items: center;
                padding-right: 24px;
                transition: all 0.2s ease-out;
                color: var(--sidebar-color);

                &:hover {
                    color: #fff;
                    cursor: pointer;
                }

                span {
                    display: flex;
                }

                p {
                    margin-left: 8px;
                    padding: 0;
                }
            }
        }

        .actions {
            .add-products {
                border-radius: 4px;
                background-color: #857dcc;
                color: #fff;
            }
        }
    }

    .contents {
        min-height: calc(100vh - 80px - 72px - 48px);

        .wrapper-loading {
            min-height: calc(100vh - 80px - 72px - 48px);
            display: flex;
        }
        .detail-description {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.form-container {
    height: calc(50vh);
    overflow-y: auto;
}

.searching {
    display: flex;
    align-items: center;
    margin-top: 16px;
    background-color: #353640;
    border-radius: 999px;
    padding: 0 8px;

    input {
        margin-left: 8px;
        outline: none;
        min-width: 250px;
        border: none;
        background-color: transparent;
        padding: 12px 0;
        caret-color: var(--sidebar-color);
        color: var(--sidebar-color);
        font-size: 1.4rem;
    }
}
