.orders {
    width: 100%;

    .contents {
        min-height: calc(100vh - 48px - 80px);
        .wrapper-loading {
            min-height: calc(100vh - 48px - 80px);
            display: flex;
            justify-content: center;
        }
    }
}
