.orders {
    overflow: hidden;
    width: 100%;

    .contents {
        .wrapper-loading {
            display: flex;
            min-height: calc(100vh - 80px - 48px);
            justify-content: center;
        }
    }
}
